.task {
    color: rgb(34, 34, 34);
    
}

.taskIsDone {
    text-decoration: line-through;
}
.taskBtn {
    width: 16px;
    height: 16px;
}

.taskboxChecked {
    background-image: url('../../assets/media/icons/boxChecked.svg');
    background-size: 16px 16px;
}


.taskbox {
    background-image: url('../../assets/media/icons/box.svg');
    background-size: 16px 16px;
}